<template name="autoProfileField_string_reference">
  {{#if contentOnly}}
    {{#if referenceLabel}}
      <span id="autoprofile-field-{{id}}" data-field-id="{{id}}" class="autoprofile-field js-autoprofile-field {{#if isEditable}}editable{{/if}}">
        {{#if reference.link}}
          <a href="{{referenceUrl}}">{{referenceLabel}}</a>
        {{else}}
          {{referenceLabel}}
        {{/if}}
      </span>
    {{else}}
      ?
    {{/if}}
  {{else}}
    <li class="list-group-item text-right">
      <span class="pull-left"><strong>{{fieldTitle}}</strong></span>
      {{#if referenceLabel}}
        {{#if reference.link}}
          <a href="{{referenceUrl}}">{{referenceLabel}}</a>
        {{else}}
          {{referenceLabel}}
        {{/if}}
      {{else}}
        ?
      {{/if}}
    </li>
  {{/if}}
</template>
